body {
    background: linear-gradient(rgba(239, 232, 232, 0.5), rgba(249, 247, 247, 0.5)), 
                url("https://th.bing.com/th/id/OIP.1U63GGiyeQOcCo38bKwziAHaHa?rs=1&pid=ImgDetMain");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
}

  
.tagline
{
    color:blueviolet;
    font-style:italic;
}

img
{
    max-width: auto;
    height: auto;
    
}

table
{
    border: 1px solid black;
    width:100%;
}

.pricelist
{
    border: 1px solid black; 
}

.pricetopic
{
    font-size: 25px;
    font-weight: bold;
    padding-top: 150px;
}

td,th
{
    text-align: left;
    padding: 16px;
}

footer
{
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-size: 10px;
    padding: 3px;
    background-color: rgb(16, 12, 3);
    color: rgb(248, 244, 244);
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #050000;
    border-radius: 15px;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 13px 15px;
    text-decoration: none;
  }
  
  li a:hover:not(.active) {
    background-color: #112;
  }
  
  .active {
    background-color: #f782c2;
  }

  video{
    border-radius: 8px;
  }